{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <!-- CSS Files -->
        <link href="{% static 'assets/css/black-dashboard.css' %}?v=1.0.0" rel="stylesheet" />
        
        <!-- Nucleo Icons -->
        <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />

        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>
    <body>
        <div class="wrapper" id="app">
            <div class="sidebar" data-color="azure" data-background-color='white'>
                <div class="logo">
                    <a href="/" class="simple-text logo-mini">МВС</a>
                    <a href="/" class="simple-text logo-normal">АвтоБаза</a>
                </div>

                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">
                                <i class="tim-icons icon-chart-pie-36"></i>
                                <p>Інфо дошка</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="tim-icons icon-zoom-split"></i>
                                <p>Пошук за номером</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                
                        <a class="navbar-brand" href="#pablo">Інфо дошка</a>
                        </div>
                                
                        <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="search-bar input-group">
                                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                                    <span class="d-lg-none d-md-block">Search</span>
                                </button>
                            </li>
                            <!-- your navbar here -->
                        </ul>
                        </div>
                    </div>
                </nav>
                <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <input type="text" class="form-control" v-model="regNum" id="inlineFormInputGroup" placeholder="AA1234AA" v-on:keyup.enter="fetchQuery()">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row" v-for="action in actions.data.allActions.edges">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Про автомобіль</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-repsonsive">
                                            <table class="table tablesorter">
                                                <tbody>
                                                    <tr>
                                                        <td>Реєстраціний номер</td>
                                                        <td>[[action.node.regNum]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Марка</td>
                                                        <td>[[action.node.car.brand.name]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Модель</td>
                                                        <td>[[action.node.car.model]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Колір</td>
                                                        <td>[[action.node.color.color]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Рік випуску</td>
                                                        <td>[[action.node.makeYear]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Об'єм двигуна</td>
                                                        <td>[[action.node.capacity]] cm<sup>3</sup></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Тип пального</td>
                                                        <td>[[action.node.fuel.name]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Операція</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive" style="overflow: hidden;">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Дата операції</td>
                                                        <td>[[action.node.operationDate]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Операція</td>
                                                        <td>[[action.node.operation.name]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Код операції</td>
                                                        <td>[[action.node.operation.code]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="tim-icons icon-heart-2"></i> by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                    </div>
            
                    <!-- your footer here -->
                </div>
            </footer>
        </div>
        </div>
        <!--   Core JS Files   -->
        <script src="{% static 'assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
        
        <!-- Chartist JS -->
        <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
        
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{% static 'assets/js/black-dashboard.js' %}?v=1.0.0" type="text/javascript"></script>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>